<footer class="footer">
  <a href="https://twitter.com/act1on"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
  <a href="https://www.facebook.com/act1on"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
  <a href="mailto:contact@act1on.com"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  <div class="post-date"><a href="{{ site.github.url }}/about.html">{{ site.title }} | {{ site.tagline }} by {{ site.author.name }}</a></div>

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58938f33d08ff6de"></script>

</footer>
